<% content_for(:title) { "Login" } %>

<div class='form-box row'>
  <div class='col-lg-6'>
    <%= form_tag sessions_path, role: 'form', class: 'form-inline' do %>
      <div class='input-row'>
        <%= label_tag :email %>
        <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'User name/ Email' %>
      </div>

      <div class='input-row'>
        <%= label_tag :password %>
        <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Password' %>
      </div>

      <p>
        <label></label> Don't have an account! <%= link_to 'Sign up', sign_up_path %>
      </p>
      <br>

      <div class='input-row'>
        <label></label>
        <%= button_tag "Login", class: 'btn btn-primary btn-lg btn-single' %>
      </div>

      <div class='input-row'>
        <label></label> Can not sign in <%= link_to 'Forgot Password', forgot_password_path %>
      </div>

    <% end %>
  </div>


  <div class='col-lg-6'>
    <div class='input-row'>
      <%=link_to '#', class: 'fb-login btn btn-lg btn-social btn-facebook', data: { url: sign_in_fb_path } do %>
        <i class='fa fa-facebook'></i> Sign in With Facebook
      <% end %>
    </div>
  
    <div class='input-row'>
      <%=link_to @koala_auth.url_for_oauth_code(:callback => sign_in_fb_m_url), class: 'btn btn-lg btn-social btn-facebook' do %>
        <i class='fa fa-facebook'></i> Sign in With Facebook Mobile
      <% end %>
    </div>
  </div>
</div>