<% content_for(:title) { "Login" } %>

<div class='form-box'>
  <%= form_tag sessions_path, role: 'form', class: 'form', style: 'padding: 15px;' do %>
    <div class='row'>
      <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'User name/ Email' %>
    </div>
    <br />
    <div class='row'>
      <%= password_field_tag :password, '', class: 'form-control', placeholder: 'Password' %>
    </div>
    <br />
    <div class='row' >
      <p> Don't have an account!, <%= link_to 'Sign up', sign_up_path %> <br /> </p>
      <%= button_tag "Login", class: 'btn btn-primary btn-block', style: 'display: block; width: 100%;' %>

      <%=link_to 'Sign in With Facebook', 'javascript:void(0)',
                 class: 'fb-login btn btn-primary btn-block', 
                 data: { url: sign_in_fb_path } %>

      <%=link_to 'Sign in With Facebook Mobile', @koala_auth.url_for_oauth_code(:callback => sign_in_fb_m_url), 
                 class: 'btn btn-primary btn-block'%>

    </div>

  <% end %>
</div>