<div class='form-box'>
  <%= simple_form_for [:member, @property], html: {class: 'form form-inline'} do |f| %>
    <h3 class='section-header'>General Info</h2>
    <%= input_row do %>
      <%= f.input :code_ref, input_html: {class: 'form-control'} %>
    <% end %>

    <%= input_row do %>
      <%= f.input :borey_name, collection: Borey.all, prompt: 'Borey name ?',
                             input_html: {class: 'selectpicker select'} %>
    <% end %>

    <%= input_row do %>
      <%= f.association :category, collection: Category.all.map{|c| [c.name, c.id]}, include_blank: false,
                                 input_html: {class: 'selectpicker'} %>
    <% end %>

    <%= input_row do %>
      <%= f.input :note, input_html: {class: 'form-control'} %>
    <% end %>

    <h3 class='section-header'>Rental/Sale</h2>

    <%= input_row do %>
      <%= f.input :type_of, collection: Property.available_types, include_blank: false,
                          input_html: {class: 'selectpicker'} %>
    <% end %>


    <%= input_row do %>
      <%= f.input :price_per_unit, as: :string, required: true, label: 'Price ($)', input_html: {class: 'form-control'} %>
    <% end %>

    <%= input_row do %>
      <%= f.input :price_per_size, label: 'As', collection: Property.available_price_per_sizes, include_blank: false,
                          input_html: {class: 'selectpicker'} %>
    <% end %>


    <%= input_row do %>
      <%= f.input :price_per_duration, label: 'Price per', collection: Property.available_price_per_durations, include_blank: false,
                          wrapper_html: {id: 'property_price_per_duration_wrapper'},
                          input_html: {class: 'selectpicker'} %>
    <% end %>



    <h3 class='section-header'> Property size </h2>

    <%= input_row do %>
      <%= f.input :width, as: :string, label: 'Width (m)',  input_html: {class: 'form-control'} %>
    <% end %>

    <%= input_row do %>
      <%= f.input :length, as: :string, label: 'Length (m)', input_html: {class: 'form-control'} %>
    <% end %>

    <%= input_row do %>
      <%= f.input :area, as: :string, wrapper_html: {class: 'wrapper-area-field'}, input_html: {class: 'form-control'} %>
      <%= f.input :unit, label: false, collection: Property.available_units,include_blank: false,
                        wrapper_html: { class: 'wrapper-unit-field'}, input_html: {class: 'selectpicker unit'} %>
    <% end %>

    <h3 class='section-header'> Property location </h2>


    <%= input_row do %>
      <%= f.association :province, collection: Province.order('name').map{|p| [p.name, p.id]}, include_blank: false,
                        prompt: 'Province', input_html: {class: 'selectpicker'} %>
    <% end %>

    <%= input_row do %>
      <%= f.association :district, collection: District.order('name').where(province_id: @property.province_id).map{|d| [d.name, d.id]},
                        prompt: 'District/Khan ?', input_html: {class: 'selectpicker'} %>
    <% end %>

    <%= input_row do %>
      <%= f.association :commune, collection: Commune.order('name').where(district_id: @property.district_id).map{|d| [d.name, d.id]},
                        prompt: 'Commune/Sangkat ?', input_html: {class: 'selectpicker'} %>
    <% end %>

    <%= input_row do %>
      <%= f.input :lat, as: :string, label: 'Latitude', input_html: {class: 'form-control'} %>
    <% end %>

    <%= input_row do %>
      <%= f.input :lon, as: :string, label: 'Longitud', input_html: {class: 'form-control'} %>
    <% end %>

    <%= input_row do %>
      <label> </label>
      <%= f.input :show_on_map, label_html: {class: 'label-checkbox'}, input_html: {class: 'form-control input-inline'} %>
    <% end %>


    <%= input_row do %>
      <label></label>
      <%= f.submit "Save my property", class: 'btn btn-success btn-lg radius btn-form-action' %>
    <% end %>
  <% end %>
</div>