<%= page_title("Edit Property") %>
<%= page_header "Edit Property" %>

<div class='row'>
  <div class='col-lg-6 col-md-12'>
    <div class='vertical-border-right'> 

      <% if @property.verification_status == Property::VERIFICATION_STATUS_REJECT %>
        <div class='alert alert-info' >
           <strong> This was rejected </strong> : <i> <%= @property.reject_reason %>.</i>
           We are happy to review it again once you edit it.
        </div>
      <% end %>

      <%= render 'form' %>
    </div>
  </div>
  
  <div class='col-lg-6 col-md-12'> 
      <%= render 'photos' %>
  </div>
</div>