<%= page_title "Property Facilities" %>

<%= page_header "Property Facilities" do %>
  <%= render "property_tab", property: @property, current_index: 1 %>
<% end %>

<%= simple_form_for [:member, @property], url: update_config_member_property_path(@property, params.slice(:next) ),
                                          method: 'PUT',
                                          html: {class: 'form form-lg form-config form-inline'} do |f| %>
  <!-- Feature -->
  <h3 class='section-header'> Features </h3>
  <% config_features = Property.stored_attributes[:config_features] %>
  <div class='row highlighter'>
    <% 7.times.each do |i| %>
      <div class='col-lg-3 col-md-4 col-sm-6'>
        <%= f.input config_features[i], as: :numeric, input_html: {class: 'form-control'}, wrapper_html: {class: 'config_numeric'} %>
      </div>
    <% end %>
  </div>

  <div class='row highlighter'>
    <% (7..11).to_a.each do |i| %>
      <div class='col-lg-2'>
        <%= f.input config_features[i], as: :boolean, input_html: {class: 'checkbox-grid'}, wrapper_html: {class: 'config_boolean'} %>
      </div>
    <% end %>
  </div>

  <!-- Equipment -->
  <h3 class='section-header'> Equipments </h3>
  <% config_equipments = Property.stored_attributes[:config_equipments] %>
  <div class='row highlighter'>
    <% 16.times.each do |i| %>
      <div class='col-lg-3'>
        <%= f.input config_equipments[i], as: :numeric, input_html: {class: 'form-control'}, wrapper_html: {class: 'config_numeric'} %>
      </div>
    <% end %>
  </div>

  <div class='row highlighter'>
    <% (16..20).to_a.each do |i| %>
      <div class='col-lg-2'>
        <%= f.input config_equipments[i], as: :boolean, input_html: {class: 'checkbox-grid'}, wrapper_html: {class: 'config_boolean'} %>
      </div>
    <% end %>
  </div>

  <!-- Service -->
  <h3 class='section-header'> Services </h3>
  <div class='row highlighter'>
    <% Property.stored_attributes[:config_services].each do |service| %>
      <div class='col-lg-2'>
        <%= f.input service, as: :boolean, input_html: {class: 'checkbox-grid'}, wrapper_html: {class: 'config_boolean'} %>
      </div>
    <% end %>
  </div>

  <div>
    <%= input_row class: 'text-center clearfix' do %>
      <% if params[:next].present? %>
        <button class='btn btn-info btn-form-action' > Create Facilities</button>
        <span> </span>
        <%= link_to " Skip ", show_map_member_property_path(@property, next: true), class: 'btn btn-info' %>
      <% else %>
        <button class='btn btn-info btn-form-action' > Update Facilities </button>
      <% end %>
    <% end %>
  </div>
<% end %>