<div class='footer-block' >
  <div class='container'>
    <div class=''>
      <ul id='footer-menu'>
        <li><%= link_to 'About Us', '' %> </li>
        <li><%= link_to 'Developer', '' %> </li>
        <li><%= link_to 'Contact', '' %> </li>
        <li><%= link_to 'Terms of Use', '' %> </li>
        <li><%= link_to 'Affiliate', '' %> </li>
        <li><%= link_to 'Report of Abuse', '' %> </li>
        <li><%= link_to 'Facebook', '' %> </li>
        <li><%= link_to 'Instagram', '' %> </li>
        <li><%= link_to 'Twitter', '' %> </li>
      </ul>
   </div>
  </div>
</div>