<div class='form-box'>
  <%= simple_form_for [:admin, @company], html: { multipart: true, class: 'form form-lg form-inline'} do |f| %>
    <div class='row'>
      <div class='col-lg-6'>
        <%= input_row do %>
          <%= f.input :name, input_html: {class: 'form-control'} %>
        <% end %>

        <%= input_row do %>
          <%= f.input :license, input_html: {class: 'form-control'} %>
        <% end %>

        <%= input_row do %>
          <%= f.input :year_founded, collection: 1980..2015, include_blank: false,
                              input_html: {class: 'form-control'} %>
        <% end %>

        <%= input_row do %>
          <%= f.input :phone, input_html: {class: 'form-control'} %>
        <% end %>

        <%= input_row do %>
          <%= f.input :email, input_html: {class: 'form-control'} %>
        <% end %>

        <%= input_row do %>
          <%= f.input :website, input_html: {class: 'form-control'} %>
        <% end %>

        <%= input_row do %>
          <%= image_tag @company.logo.thumb.url, width: 100, height: 100 %>
          <%= f.input :logo, as: :file, label: false %>
        <% end %>
      </div>

      <div class="col-lg-6">
        <% content_for(:head) do %>
           <%= render "layouts/shared/google_map" %>
        <% end %>
        <div id='p-map'></div>

        <%= input_row do %>
          <label> </label>
          <%= decoded_address %>
        <% end %>

        <%= input_row do %>
          <%= f.input :lat, as: :string, label: 'Latitude', input_html: {class: 'form-control'} %>
        <% end %>

        <%= input_row do %>
          <%= f.input :lng, as: :string, label: 'Longitud', input_html: {class: 'form-control'} %>
        <% end %>

      </div>
    </div>

    <%= input_row do %>
      <%= f.input :summary, as: :bootsy, editor_options: { alert_unsaved: false, image: true },
                            input_html: { class: 'form-control', rows: 15, cols: 80, style: 'width: 100%;'} %>
    <% end %>


    <%= input_row do %>
      <button class='btn btn-info btn-form-action'>
        <i class=''> </i> Save
      </button>
    <% end %>
  <% end %>
</div>