<!-- Contact -->
<div class='poster-info section-panel box clearfix'>
  <h3 class='section-header' style='margin-top: 0px;'> Contact </h3>
  <div style='margin-left: 10px;'>
    <div class='pull-left' >
      <%= image_tag property.user.avatar.thumb.url, class: 'pull-left img-circle medium-thumb' %>
    </div>

    <div style='margin-left: 64px;'>
        <div class='section-detail'>
          <label class='pull-left'> Name </label>
          <div class='section-value'><%=property.user.full_name%></div>
        </div>

        <% if property.user.company_id.present? %>
        <div class='section-detail'>
          <label class='pull-left'> Company </label>
          <div class='section-value'><%= property.user.company.name %></div>
        </div>
        <% end %>

        <div class='section-detail'>
          <label class='pull-left'> Tel </label>
          <div class='section-value'><%=property.user.phone%></div>
        </div>

        <div class='section-detail'>
          <label class='pull-left'> Email </label>
          <div class='section-value'><%= display_email(property.user.email)%></div>
        </div>

        <div class='section-detail'>
          <label class='pull-left'> Total properties </label>
          <div class='section-value'><%= property.user.properties_count %></div>
        </div>
    </div>
  </div>

  <% if !property.user.bio.empty? %>
    <h3 class='section-header' style='margin-top: 0px;'> Bio </h3>
    <p class='clearfix'>
      <%= property.user.bio.html_safe %>
    </p>
  <% end %>
</div>