<div class='section-panel box'>
  <h3 class='section-header' style='margin-top: 0px;'> General info</h3>

  <div class='section-detail' style='position: relative;'>

    <% if property.mark_as_urgent %>
      <%= image_tag "properties/urgent-property.png", style: 'right: 0px; position: absolute; top: -20px;' %>
    <% end %>

    <label class='pull-left'> Location </label>
    <div class='section-value'>
      <% if property.has_map? %>
        <%= link_to '#p-map', class: '' do %>
          <i class='glyphicon glyphicon-map-marker'> </i>
          <%=property.location %>
        <% end %>
      <% else %>
        <%=property.location %>
      <% end %>
    </div>
  </div>

  <div class='section-detail'> 
    <label class='pull-left'> ID Ref </label>
    <div class='section-value'> <%=property.id_with_prefix %> </div>
  </div>

  <% if property.borey_name.present? %>
  <div class='section-detail'> 
    <label class='pull-left'> Borey name </label>
    <div class='section-value'> <%=property.borey_name %> </div>
  </div>
  <% end %>

  <div class='section-detail'>
    <label class='pull-left'> Type </label>
    <div class='section-value'> <%=property.category.name %> </div>
  </div>

  <% if property.special? %>
  <div class='section-detail'>
    <label class='pull-left'> Offer </label>

    <div class='section-value'>
      <%= marked_items_for(property) %>
    </div>
  </div>
  <% end %>

  <div class='section-detail'>
    <label class='pull-left'>Code Ref </label>
    <div class='section-value'> <%=property.code_ref %> </div>
  </div>

  <% if property.land_size? %>
  <div class='section-detail'>
    <label class="pull-left"> Land size </label>
    <div class='section-value'>
      <%= land_dimension(property) %>
    </div>
  </div>
  <% end %>

  <% if property.building_size? %>
    <div class='section-detail'>
      <label class='pull-left'> Building size </label>
      <div class='section-value'>
        <%= building_dimension(property) %>
      </div>
    </div>
  <% end %>

  <!-- Price -->
  <div class='total-price'>
    <% if property.type_of == Property::TYPE_SALE_RENT %>
      <div class='section-detail'>
        <label class='pull-left'> Sale for </label>
        <div calss='section-value'><%= property.total_price_sale %> $ </div>
      </div>

      <div class='section-detail'>
        <label class='pull-left'> Rent for </label>
        <div class='section-value'><%= property.total_price_rent %> $</div>
      </div>
    <% elsif property.type_of == Property::TYPE_RENT %>
      <div class='section-detail'>
        <label class='pull-left'>Rent for </label>
        <div class='section-value'>
          <%= property.total_price_rent %> $ / <%=property.price_per_duration_rent%> 
        </div>
      </div>
    <% else %>
      <div class='section-detail'>
        <label class='pull-left'> <%=property.type_of %> for </label>
        <div class='section-value'> <%=property.total_price_sale %> $ </div>
      </div>
    <% end %>
  </div> <!--End price-->
</div>

<% if property.note.present? %>
  <div class="section-panel box">
    <h3 class='section-header'> Summary </h3>
    <div class='clearfix' style='margin-left: 10px;' >
      <%= property.note.html_safe%>
    </div>
  </div>
<% end %>
<%= render  'facilities', property: property %>
