<%= page_title @property.title %>
<% sections = { detail: :detail, photos: :photos, contact: :contact, map: :map} %>
<% tab = params[:tab] || 'general' %>


<%= render 'show_tab', property: @property, tab: tab %>
<!-- <p class='line' style='margin-top: 20px;'> <%#= render tab, property: @property %> </p> -->
<div class="" style='margin-top: 20px;'>

  <% if current_user %>
    <div class='text-right'>

      <%=link_to '#', class: 'btn btn-default btn-danger', id:'remove-favorite',
                 style:"#{@favorite ? '' : 'display:none;'}", 
                 data: { favorite_id: @favorite ? @favorite.id : '' } do %>
        <i class='glyphicon glyphicon-eye-open'> </i> Cancel from Favorite list
      <% end %>

      <%= link_to '', class: 'btn btn-default', id: 'add-favorite' , style: "#{@favorite ? 'display:none;' : '' }",
                      data: { property_id: @property.id} do %>
        <i class='glyphicon glyphicon-eye-open'> </i> Add this to Favorite list
      <% end %>

    </div>
  <% end %>
  <%= render tab, property: @property %>
</div>






