<%= simple_form_for [:admin, @district], html: {class: 'form form-inline'} do |f| %>
  <%= input_row do %>
    <%= f.input :name, input_html: {class: 'form-control'} %>
  <% end %>

  <%= input_row do %>
    <%= f.association :province, collection: Province.all.map{|p| [p.name, p.id]}, input_html: {class: 'form-control'} %>
  <% end %>

  <%= input_row do %>
    <label></label>
    <%= f.submit "Save", class: 'btn btn-primary' %>
  <% end %>
<% end %>