<%= page_title("Property") %>

<%= breadcrumb_admin([ {Properties: false} ])%>
<% admin_nav_menu_item(:property) %>

<%= page_header "Property" %>
<div class='clearfix'>
  <div class='pull-left'>
    <%= paginate @properties %>
  </div>

  <div class='pull-right'>
    <%= form_tag admin_properties_path(), method: :get, class: 'form form-inline' do %>
      <%= text_field_tag :ref, params[:ref], class: 'form-control', placeholder: 'ID/CodeRef' %>
      <button class="btn btn-info"><i class='glyphicon glyphicon-search'> </i> Search</button>
    <% end %>
  </div>
</div>

<table class='table'>
  <thead>
   <td>No</td>
   <td>Image</td>
   <td>ID</td>
   <td>Code</td>
   <td>Update at</td>
   <td>Verify</td>
   <td>Status</td>
   <td>Type</td>
   <td>Photo</td>
   <td>Poster</td>
   <td>Urgent</td>
   <td>Exclusive</td>
   <td>Blocked</td>
   <td>Featured</td>

  </thead>

  <tbody>
    <% @properties.each_with_index do |property, index| %>
      <tr>
        <td><%= index_in_paginate(index+1) %></td>
        <td><%= image_tag property.logo, alt: nil, width: 50, height: 50 %></td>
        <td><%= property.id_with_prefix %></td>
        <td><%= property.code_ref %></td>
        <td><%= timeago_tag(property.updated_at) %></td>
        <td>
          <%= property.verification_status%>
        </td>
        <td><%= property.status%></td>
        <td><%= property.type_of%></td>
        <td><%= property.photos_count%></td>
        <td><%= link_to property.user.full_name, admin_properties_path(app_params.merge(user_id: property.user_id))%></td>
        <td><%= link_to boolean_word(property.mark_as_urgent), toggle_urgent_admin_property_path(property, app_params), method: :put%></td>
        <td><%= link_to boolean_word(property.mark_as_exclusive), toggle_exclusive_admin_property_path(property, app_params), method: :put %></td>
        <td><%= link_to boolean_word(property.mark_as_blocked), toggle_blocked_admin_property_path(property, app_params), method: :put %></td>
        <td><%= link_to boolean_word(property.mark_as_featured), toggle_featured_admin_property_path(property, app_params), method: :put%></td>

        <td>
          <%=link_to 'Review', review_admin_property_path(property), class: 'btn btn-sm btn-info' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @properties %>