<%= page_title("Property") %>
<%= page_header "Property" %>

<%= paginate @properties %>

<table class='table'>
  <thead>
   <td>No</td>
   <td>Image</td>
   <td>ID</td>
   <td>Code</td>
   <td>Update at</td>
   <td>Verify</td>
   <td>Status</td>
   <td>Type</td>
   <td>Photo</td>
   <td>User</td>
   <td>Urgent</td>
   <td>Exclusive</td>

  </thead>

  <tbody>
    <% @properties.each_with_index do |property, index| %>
      <tr>
        <td><%= index_in_paginate(index+1) %></td>
        <td><%= image_tag property.logo %></td>
        <td><%= property.display_id %></td>
        <td><%= property.code_ref %></td>
        <td><%= timeago_tag(property.updated_at) %></td>
        <td>
          <%= property.verification_status%> <br/>
          <%= property.reject_reason%>
        </td>
        <td><%= property.status%></td>
        <td><%= property.type_of%></td>
        <td><%= property.photos_count%></td>
        <td><%= property.user.first_name%></td>
        <td><%= property.mark_as_urgent%></td>
        <td><%= property.mark_as_exclusive%></td>
        <td>
          <%=link_to 'Edit', review_admin_property_path(property) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @properties %>