<%= page_title("Change Password") %>
<%= page_header "Change Password" %>

<%= render 'shared/users/profile_tab', current_index: 3 %>
<%= simple_form_for([:member, current_user], url: member_update_password_path, html: { class: 'form form-lg form-inline'} ) do |f| %>
    <%= input_row do %>
      <%= f.input :old_password, as: :password, required: true,
                  input_html: { class: 'form-control', autocomplete: :off } %>
    <%end%>

    <%= input_row do %>
      <%= f.input :password, as: :password, required: true,
                  input_html: { class: 'form-control', autocomplete: :off,} %>
    <%end%>

        <%= input_row do %>
      <%= f.input :password_confirmation, as: :password, required: true,
                  input_html: { class: 'form-control', autocomplete: :off} %>
    <%end%>

    <%= input_row do %>
      <label> </label>
      <%= f.button :submit, "Update", class: 'btn btn-primary' %>
    <%end%>

<% end %>


