<%= page_title("Edit Photo") %>
<%= page_header "Edit Photo" %>

<%= render 'shared/users/profile_tab', current_index: 2 %>

<%= simple_form_for([:member, current_user], url: member_update_crop_path, html: {class: 'form form-inline', multipart: true}) do |f| %>

  <div class='thumb-preview' style='width: 100px; height: 100px; overflow: hidden; background: #eee;'>
    <%= image_tag current_user.avatar.standard.url,
                  id: 'thumb-img-preview' %>
  </div>

  <div class='standard'>
    <%= image_tag current_user.avatar.standard.url, id: 'cropbox' %>
  </div>

  <% %w(x y h w).each do |field| %>
   <%= f.input "crop_#{field}", as: :hidden %>
  <% end %>


  <br />
  <%= input_row do %>
    <%= f.button :submit, "Update", class: 'btn btn-primary' %>
  <%end%>

<% end %>
